<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/simple.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <style>
      /* STicker Headers! Also allows to have multiple headers in a table and keep the info!*/
      /* Source https://css-tricks.com/position-sticky-and-table-headers/ */
      table {
        text-align: left;
        position: relative;
        border-collapse: collapse; 
      }
      th, td {
        padding: 0.25rem;
      }
      tr.red th {
        background: rgb(90, 49, 49);
      }
      tr.green th {
        background: rgb(12, 60, 12);
      }
      tr.purple th {
        background: rgb(40, 4, 40);
      }
      th {
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.4);
      }
    </style>
  </head>
  <body>

    {% comment %} 
      REMINDER: This is using LIQUID and not Nunjunks!! 
      And this is how you make comments!

      Ref: https://shortcode.dev/liquid-cheatsheet
    {% endcomment %}
    
    <details>
      <summary>2) ALL</summary>

    {% for item in collections.all  %}
        <h2>forloop: {{ forloop.index }}</h2>
        <p> item data</p>
        <ul>
          <li>Main page: {{ item.data.title }}</li>
          <li><p>Permalink: {{ item.data.permalink }}</p></li>
          <li><p>aArtwork.title: {{ item.data.aArtwork.title }}</p></li> 
          <li><p>ocs.Name: {{ item.data.ocs.Name }}</p></li>
        </ul>

        <p>Tags</p>
        <ol>
          {% for tg in item.data.tags %}
            <li><p>{{ tg }}</p></li>
          {% endfor %}
        </ol>
        <p>item page</p>
        <ul>
          <li><p>page.date (sorting): {{ item.page.date }}</p></li>
          <li><p>page.url: {{ item.page.url }}</p></li>
          <li><p>page.outputPath: {{ item.page.outputPath }}</p></li>
        </ul>
    {% endfor %}
    </details>
    <p>END - ALL, 48</p>

    <details>
    <summary>3) By Title (Top 10)</summary>
    {% for item in collections.twewySeriesArtAllByTitle limit:10  %}
        <h2>forloop: {{ forloop.index }}</h2>
          <p>item.page.date (sorting): {{ item.page.date }}</p>
          <p>item.data.title: {{ item.data.title }}</p>
        <p>Artwork: {{ item.data.aArtwork.title }}</p> 
        <p>{{ item.page.outputPath }}</p>
    {% endfor %}
    <p>END - TWEWY art only, 22</p>
    </details>

    <details>
      <summary>4) By Date (Top 10)</summary>
      <div style="overflow-x:auto; max-height: 500px;">
      
        <table>
          <tr class="red">
            <!-- <th>forloop</th> -->
            <th>item.data .aArtwork.title </th>
            <th>item.page.date (default sort):</th>
            <th>aArtwork.date (custom sort)</th>
            <th>item.page .url</th>
            <th>item.page .fileSlug</th>
            <th>item.page .outputPath</th>
            <th>item.page .templateSyntax</th>
            <th>prev post</th>
          </tr>
        {% for item in collections.twewySeriesArtAllByDate limit:10 %}
          <tr>
            <!-- <td>{{ forloop.index }}</td> -->
            <td>{{ item.data.aArtwork.title}}</td> 
            <td>{{ item.page.date | truncate: 30 }}</td>
            <td>{{ item.data.aArtwork.date}}</td> 
            <td>{{ item.page.url }}</td>
            <td>{{ item.page.fileSlug }}</td>
            <td>{{ item.page.outputPath }}</td>
            <td>{{ item.page.templateSyntax }}</td>
            <td>{% if previousPost %}Previous Blog Post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </details>

    <h2>Test to get recently released artwork</h2>
    {% assign singlePost = collections.UpdatePosts | first %}

    <p>Date (data): {{singlePost.data.posts.date }}</p>
    <p>Date (page): {{singlePost.page.date }}</p>

    {%- if singlePost.data.posts.ArtList %}
      <p class="subheader">Art</p> 
      {%- for cate in singlePost.data.posts.ArtList %}
      <details>
          <summary>{{ cate.Category }}</summary>
          <ul>
              {%- for item in cate.List %}
              <li>
                  <a href= "{{ item.URL }}"> {{ item.Title }}</a> - <a href="{{ item.URL }}" target="_blank" rel="noopener noreferrer">↗</a>
              </li>
              {% endfor -%}
          </ul>
      </details>
      {% endfor -%}
  {%- endif -%}


    <details>
      <summary>5) Most Recent (Top 10)</summary>
      <div style="overflow-x:auto; max-height: 500px;">
      
        <table>
          <tr class="red">
            <!-- <th>forloop</th> -->
            <th>item.data .aArtwork.title </th>
            <th>aArtwork.date (custom sort)</th>
            <th>item.page .url</th>
            <th>item.page .fileSlug</th>
            <th>item.data.tags</th>
            <th>item.data.aArtwork.fandom</th>
          </tr>
        {% for item in collections.RecentArtwork limit:10 %}
          <tr>
            <!-- <td>{{ forloop.index }}</td> -->
            <td>{{ item.data.aArtwork.title}}</td> 
            <td>{{ item.data.aArtwork.date}}</td> 
            <td>{{ item.page.url }}</td>
            <td>{{ item.page.fileSlug }}</td>
            <td>
              {% for tg in item.data.tags %}
                {{ tg }}, 
              {% endfor %}
            </td>
            <td>{{ item.data.aArtwork.fandom }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </details>

  

  </body>
</html>