---
tags:
  - TagAWArt
  - TagAWArtNoSpoilers
pagination:
    data: art-asuras-wrath-spoiler-free
    size: 1
    alias: aArtwork
    addAllPagesToCollections: true
permalink: "art/asuras-wrath/{{ aArtwork.uniqueUrl | slugify }}/"
layout: /layouts/art
---
{% include 'partials/art-show-general.njk' %}