---
tags:
  - MyArt
pagination:
    data: art-deltarune
    size: 1
    alias: aArtwork
    addAllPagesToCollections: true
permalink: "art/deltarune/{{ aArtwork.uniqueUrl | slugify }}/"
layout: /layouts/art
---
{% include 'partials/art-show-general.njk' %}