---
tags:
  - MyArt
  - TagXCXArt
  - TagXCXArtNoSpoilers
pagination:
    data: art-xcx-spoiler-free
    size: 1
    alias: aArtwork
    addAllPagesToCollections: true
permalink: "art/xcx/{{ aArtwork.uniqueUrl | slugify }}/"
layout: /layouts/art
---
{% include 'partials/art-show-general.njk' %}