---
title: Pikmin - No Spoilers
layout: /layouts/base.njk
date: 2024-01-01

id: pikmin
mainGrouping: Pikmin
description: Watched someone play through the first game and kinda remember it??? Picked up Pikmin Bloom in 2025 and I ADORE the decor Pikmin. Art is of my fave decor Pikmin or just my OCs as Pikmin.
tags:
    - fandomArtwork
    - ArtworkPikmin
listCollection: 'PikminArt'
listSubCollection: ArtworkPikmin
spoilers: no
---
<p>Ordered by original post date.</p>

{% assign spoilersClass = "content spoilers" %}
{% assign nospoilersClass = "content" %}

{% assign currentYear = "" %}
{% for post in collections[listCollection]| reverse %}
    {% include 'partials/listing-artwork-general.njk' %}
{% endfor %}

<script src="/js/filterByTag.js"></script>