---
title: Persona 5 Art
layout: /layouts/base.njk
---
<p>Ordered by original post date.</p>

{% assign currentYear = "" %}
{% for post in collections.ArtP5 | reverse %}
  {% assign postYear = post.data.artwork.dateYear %}
  {% if currentYear != postYear %}
  {% assign currentYear = postYear %}
    <div class="boxheader"><h3>{{ postYear }}</h3></div>
  {% endif %}
    <div classs="row">
      <div class="characters {{ post.data.artwork.characters }}">
        <div class="content">
          
          <a href="{{ post.url }}">{{ post.data.artwork.title }}</a> 
          
          <p class="smallpadding">({{ post.data.artwork.characters }})</p>
        </div>
      </div>
    </div>
  {% endfor %}

<script src="/js/filterByTag.js"></script>