---
title: TWEWY
layout: /layouts/base.njk
date: 2024-01-01
---
<p>Ordered by original post date.</p>

<p>HEY - using filtered tags which means BOTH tags have to be included!! (Not actually what I want, whoops!)</p>
{% assign currentYear = "" %}
{% for post in collections.allTWEWY %}
  {% assign postYear = post.data.twewyart.dateYear %}
  {% if currentYear != postYear %}
    {% assign currentYear = postYear %}
    <div class="boxheader"><h3>{{ postYear }}</h3></div>
  {% endif %}
    <p>1</p>
          <a href="{{ post.url }}">{{ post.data.twewyart.title | truncate: 37 }}</a> 
          <p class="smallpadding">({{ post.data.twewyart.characters }})</p>
        </div>
      </div>
    </div>
  {% endfor %}
<p>END</p>

<h2>--- 2 ---</h2>
{% for item in collections.all  %}
    <h2>forloop: {{ forloop.index }}</h2>
    <p> item data</p>
    <ul>
      <li>Main page: {{ item.data.title }}</li>
      <li><p>Permalink: {{ item.data.permalink }}</p></li>
      <li><p>twewyart.title: {{ item.data.twewyart.title }}</p></li> 
      <li><p>ocs.Name: {{ item.data.ocs.Name }}</p></li>

    </ul>

    <p>tags?</p>
    <ol>
    {% for tg in item.data.tags %}
      <li><p>{{ tg }}</p></li>

    {% endfor %}
  </ol>

    <p>item page</p>
    <ul>
      <li><p>page.date (sorting): {{ item.page.date }}</p></li>
      <li><p>page.url: {{ item.page.url }}</p></li>
      <li><p>page.templateSyntax: {{ item.page.templateSyntax }}</p></li>
      <li><p>page.outputPath: {{ item.page.outputPath }}</p></li>
    </ul>
{% endfor %}
<p>END - ALL, 48</p>


<h2>---3 ---</h2>
{% for item in collections.twewyArt2 %}
    <h2>forloop: {{ forloop.index }}</h2>
      <p>page.date (sorting): {{ item.page.date }}</p>
      Main page: {{ item.data.title }}
    <p>Artwork: {{ item.data.twewyart.title }}</p> 
    <p>OC: {{ item.data.ocs.Name }}</p>
    <p>{{ item.page.outputPath }}</p>
{% endfor %}
<p>END - TWEWY art only, 22</p>


<details>
  <summary>Characters</summary>
<div id="myBtnContainer">
  <div><button class="btn active" onclick="filterSelection('all')">Show all</button></div>
  <div>
    <p class="buttonHeader">TWEWY</p>
    <button class="btn" onclick="filterSelection('Joshua')">Joshua</button>
    <button class="btn" onclick="filterSelection('Hanekoma')">Hanekoma</button>
    <button class="btn" onclick="filterSelection('Minamimoto')">Minamimoto</button>
    <button class="btn" onclick="filterSelection('Kitaniji')">Kitaniji</button>
    <button class="btn" onclick="filterSelection('Coco')">Coco</button>
    <button class="btn" onclick="filterSelection('Neku')">Neku</button>
    <button class="btn" onclick="filterSelection('Shiki')">Shiki</button>
  </div>
  <div>
    <p class="buttonHeader">NEO TWEWY</p>
    <button class="btn" onclick="filterSelection('Hazuki')">Hazuki</button>
    <button class="btn" onclick="filterSelection('Kubo')">Kubo</button>
  </div>
  <div>
    <p class="buttonHeader">OCs</p>
    <button class="btn" onclick="filterSelection('Mother')">Mother</button>
    <button class="btn" onclick="filterSelection('Father')">Father</button>
    <button class="btn" onclick="filterSelection('Null')">Null</button>
    <button class="btn" onclick="filterSelection('Chisa')">Chisa</button>
  </div>
</div>
</details>

{% assign currentYear = "" %}
{% for post in collections.twewyArt2 | reverse %}
  {% assign postYear = post.data.twewyart.dateYear %}
  {% if currentYear != postYear %}
  {% assign currentYear = postYear %}
    <div class="boxheader"><h3>{{ postYear }}</h3></div>
  {% endif %}
    <div classs="row">
      <div class="characters {{ post.data.twewyart.characters }}">
        <div class="content">
          
          <a href="{{ post.url }}"> {{ post.data.twewyart.title | truncate: 37 }} </a> 
          <p class="smallpadding">({{ post.page.date }})</p>
          <p class="smallpadding">({{ post.data.twewyart.characters }})</p>
          <p class="smallpadding">({{ post.data.twewyart.fandom }}) ({{ post.data.twewyart.spoilers }})</p>
        </div>
      </div>
    </div>
  {% endfor %}

<script src="/js/filterByTag.js"></script>