<section>
        <h2 id="twewy" class="def">TWEWY</h2>
        <h3 id="w2d1">W2D1: Minamimoto at 104</h3>
        
        <p>Minamimoto says to Joshua:</p>
        
        <h4>English</h4>

        <blockquote class="quote-english">
            Some Old Horses</br>
            Can Always Hear</br>
            Their Owner Approach
        </blockquote>

        <p>This is a mnemonic device for SOH CAH TOA.
            It's used to help remember the three basic trigonometric functions 
            of a right angle triangle to solve for any missing information:
        </p>
        <p class="notice">
            <strong>S</strong>ine = <strong>O</strong>pposite / <strong>H</strong>ypotenuse </br>
            <strong>C</strong>osine = <strong>A</strong>djacent / <strong>H</strong>ypotenuse</br>
            <strong>T</strong>angent = <strong>O</strong>pposite / <strong>A</strong>djacent
        </p>

        <h4>Japanese</h4>
        
        <blockquote class="quote-japanese">ヒトヨヒトヨニヒトミゴロってね</blockquote>

        <p>Each character or two represens a number, except for the ending part, "ってね". So let's breakdown the goroawase. </p>

        <table class="goroawase">
            <tr>
                <th>Written</th>
                <td>ヒト</td>
                <td>ヨ</td>
                <td>ヒト</td>
                <td>ヨ</td>
                <td>ニ</td>
                <td>ヒト</td>
                <td>ミ</td>
                <td>ゴ</td>
                <td>ロ</td>
            </tr>
            <tr>
                <th>Romanji</th>
                <td>hito</td>
                <td>yo</td>
                <td>hito</td>
                <td>yo</td>
                <td>ni</td>
                <td>hito</td>
                <td>mi</td>
                <td>go</td>
                <td>ro</td>
            </tr>
            <tr>
                <th>Numbers</th>
                <td>1</td>
                <td>4</td>
                <td>1</td>
                <td>4</td>
                <td>2</td>
                <td>1</td>
                <td>3</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <th>Normal</th>
                <td>人</td>
                <td>よ</td>
                <td>人</td>
                <td>よ</td>
                <td>に</td>
                <td>人</td>
                <td>見</td>
                <td>ご</td>
                <td>ろ</td>
            </tr>
        </table>

        <p>The numbers here are for the square root of 2: 1.41421356. If we look at the meaning of the mnemonic, we get:</p>

        <blockquote class="quote-translation">
            人よ人よに人見ごろ (ひとよひとよにひとみごろ) </br></br>
            
            "Human world, people's lives, we're observing people" </br>
            Or </br>
            "It's peoples world; peoples world. It's time to observe people."
        </blockquote>

        <p>
            In both English and Japanese, Minamimoto is telling Joshua that 
            he knows exactly who Joshua is.
        </p>

        <p>Note: Goroawase can have alternative meanings, and for this one it can also be read as:</p>

        <blockquote class="quote-translation">
               一夜一夜に人見頃</br></br>

               "Time to see people is at night"
        </blockquote>

        <h3 id="ep4">Animation - Episode 4</h3>

        <div>
        <img class="translate-single-img"
            src="https://gramophoneturtle.neocities.org/img/refs/twewy/anime/goroawase/goroawase-e4Full_1.jpg" 
            alt="Minamimoto saying to Joshua and Neku, Some Old Horses Can Always Hear Their Owner Approach." >
        </div>

        <h4>English Subs</h4>
        <blockquote class="quote-english">
            Some Old Horses Can Always Hear Their Owner Approach</br>
        </blockquote>
        
        <p>SOH CAH TOA - same as the game.</p>

        <h4>Japanese</h4>
        
        <blockquote class="quote-japanese">ヒトヨヒトヨニヒトミゴロ…ってね</blockquote>

        <p>Same as the game.</p>

        <h3 id="w2d4">W2D4: Taboo Noise Refinery Sigil</h3>
        <p>
            Neku and Joshua come across Minamimoto in Udagawa drawing the 
            Taboo Noise Refinery SIgil. While Minamimoto works on it, he says:
        </p>

        <h4>English</h4>

        <blockquote class="quote-english">
            3 is the point of the 1.</br>
            4 the 1-5-9 are 2. </br>
            6-5, 3-5! 8-9, 7-9! </br>
            32384 62643 38327!
        </blockquote>

        <p>It's the starting digits of pi: 3.14 1592 6535 8979 32384 62643 38327.</p>

        <h4>Japanese</h4>
        <blockquote class="quote-japanese">
            サンイシイコクニムカウ</br>
            サンゴヤクナク… </br>
            サンフミヤシロニ </br>
            ムシサンサン ヤミニナク
        </blockquote>

        <table class="goroawase">
            <tr>
                <th>Written</th>
                <td>サン</td>
                <td>イ</td>
                <td>シ</td>
                <td>イ</td>
                <td>コ</td>
                <td>ク</td>
                <td>ニ</td>
                <td>ム</td>
                <td>カウ</td>
            </tr>
            <tr>
                <th>Romanji</th>
                <td>san</td>
                <td>i</td>
                <td>shi</td>
                <td>i</td>
                <td>ko</td>
                <td>ku</td>
                <td>ni</td>
                <td>mu</td>
                <td>kau</td>
            </tr>
            <tr>
                <th>Numbers</th>
                <td>3</td>
                <td>1</td>
                <td>4</td>
                <td>1</td>
                <td>5</td>
                <td>9</td>
                <td>2</td>
                <td>6</td>
                <td>5</td>
            </tr>
            <tr>
                <th>Normal</th>
                <td>産</td>
                <td>医</td>
                <td>師</td>
                <td>異</td>
                <td colspan="2">国</td>
                <td>に</td>
                <td>向</td>
                <td>こう</td>
            </tr>
        </table>

        <table class="goroawase">
            <tr>
                <th>Written</th>
                <td>サン</td>
                <td>ゴ</td>
                <td>ヤ</td>
                <td>ク</td>
                <td>ナ</td>
                <td>ク</td>
            </tr>
            <tr>
                <th>Romanji</th>
                <td>san</td>
                <td>go</td>
                <td>ya</td>
                <td>ku</td>
                <td>na</td>
                <td>ku</td>
            </tr>
            <tr>
                <th>Numbers</th>
                <td>3</td>
                <td>6</td>
                <td>8</td>
                <td>9</td>
                <td>7</td>
                <td>9</td>
            </tr>
            <tr>
                <th>Normal</th>
                <td>産</td>
                <td>後</td>
                <td colspan="2">薬</td>
                <td>な</td>
                <td>く</td>
            </tr>
        </table>

        <table class="goroawase">
            <tr>
                <th>Written</th>
                <td>サン</td>
                <td>フ</td>
                <td>ミ</td>
                <td>ヤ</td>
                <td>シ</td>
                <td>ロ</td>
                <td>ニ</td>
            </tr>
            <tr>
                <th>Romanji</th>
                <td>san</td>
                <td>fu</td>
                <td>mi</td>
                <td>ya</td>
                <td>shi</td>
                <td>ko</td>
                <td>ni</td>
            </tr>
            <tr>
                <th>Numbers</th>
                <td>3</td>
                <td>2</td>
                <td>3</td>
                <td>8</td>
                <td>4</td>
                <td>6</td>
                <td>2</td>
            </tr>
            <tr>
                <th>Normal</th>
                <td>産</td>
                <td>婦</td>
                <td>み</td>
                <td>や</td>
                <td>し</td>
                <td>ろ</td>
                <td>に</td>
            </tr>
        </table>

        <table class="goroawase">
            <tr>
                <th>Written</th>
                <td>ム</td>
                <td>シ</td>
                <td>サン</td>
                <td>サン</td>
                <td>ヤ</td>
                <td>ミ</td>
                <td>ニ</td>
                <td>ナ</td>
                <td>ク</td>
            </tr>
            <tr>
                <th>Romanji</th>
                <td>mu</td>
                <td>shi</td>
                <td>san</td>
                <td>san</td>
                <td>ya</td>
                <td>mi</td>
                <td>ni</td>
                <td>na</td>
                <td>ku</td>
            </tr>
            <tr>
                <th>Numbers</th>
                <td>8</td>
                <td>4</td>
                <td>3</td>
                <td>3</td>
                <td>8</td>
                <td>3</td>
                <td>2</td>
                <td>7</td>
                <td>9</td>
            </tr>
            <tr>
                <th>Normal</th>
                <td colspan="2">虫</td>
                <td>散</td>
                <td>々</td>
                <td colspan="2">闇</td>
                <td>に</td>
                <td>鳴</td>
                <td>く</td>
            </tr>
        </table>

        <p>Looking at just the numbers, Minamimoto is reciting pi. But why Pi? There's surely no pi in -</p>
        
       <div>
        <img class="translate-single-img"
            src="https://gramophoneturtle.neocities.org/img/refs/twewy/og/refinerysigil/SigilRef1-OGTWEWY01.png"
            alt="The Taboo Noise Refinery Sigil, but with some of the beginning digits of pi highlighted in rainbow."
            >
        </div>
       <div>
        <img class="translate-single-img"
            src="https://gramophoneturtle.neocities.org/img/refs/twewy/og/refinerysigil/SigilRef1-OGTWEWY-02.png" 
            alt="The Taboo Noise Refinery Sigil seen from above with some of the beginning digits of pi highlighted in rainbow and written out."
            >
        </div>

        <p>Ok, there are just a <em>few</em> references of pi. There are a few points where we see the beginning digits of pi, 
            and even a spot where pi is written as its mathimathical symbol, π, and as "PI" in one symbol! Just got to rotate to see the pi symbol. 
            Pretty neat, huh?</p>

        <p>We'll save the Taboo Noise Refinery Sigil lesson for another time. The point is, there is pi!</p>
        
        <p>Here is the meaning of the gorowase:</p>
        
        <blockquote class="quote-translation">
            産医師異国に向こう。 </br>
            産後薬なく</br>
            産婦みやしろに</br>
            虫散々闇に鳴く</br></br>

            An obstetrician heads to a foreign country.</br>
            After childbirth, no bad luck,</br>
            mother in shrine;</br>
            insects are terribly noisy in the darkness.
        </blockquote>

        <h3 id="ep6">Animation - Episode 6</h3>
        <div>
            <img class="translate-single-img"
                src="https://gramophoneturtle.neocities.org/img/refs/twewy/anime/goroawase/goroawase-e6Full-1.jpg"
                alt="Minamimoto draws the Taboo Refinery Sigil, saying, Sir, I bear a rhyme excelling."
                >
        </div>
        <div>
            <img class="translate-single-img"
                src="https://gramophoneturtle.neocities.org/img/refs/twewy/anime/goroawase/goroawase-e6Full-2.jpg"
                alt="Minamimoto draws the Taboo Refinery Sigil, saying, in mystic force and magic spelling."
                >
        </div>
        <div>
            <img class="translate-single-img"
                src="https://gramophoneturtle.neocities.org/img/refs/twewy/anime/goroawase/goroawase-e6Full-3.jpg"
                alt="Neku and Joshua listen to Minamimoto saying, Celestial sprites elucidate..."
                >
        </div>

        <h4>English Subs</h4>
        <blockquote class="quote-english">
            "Sir, I bear a rhyme excelling in mystic force and magic spelling. </br>
            Celestial sprites elucidate..."
        </blockquote>
        
        <p>
            We actually have to do a goroawase like breakdown here in English! To understand 
            this means, we have to count the number of letters in each word:
        </p>

        <table class="goroawase">
            <tr>
                <th>Sub</th>
                <td>Sir</td>
                <td>I</td>
                <td>bear</td>
                <td>a</td>
                <td>rhyme</td>
            </tr>
            <tr>
                <th>No. of Letters</th>
                <td>3</td>
                <td>1</td>
                <td>4</td>
                <td>1</td>
                <td>5</td>
            </tr>
            <tr>
                <th>Sub</th>
                <td>excelling</td>
                <td>in</td>
                <td>mystic</td>
                <td>force</td>
                <td>and</td>
            </tr>
            <tr>
                <th>No. of Letters</th>
                <td>9</td>
                <td>2</td>
                <td>6</td>
                <td>5</td>
                <td>3</td>
            </tr>
            <tr>
                <th>Sub</th>
                <td>magic</td>
                <td>spelling</td>
                <td>Celestial</td>
                <td>spirits</td>
                <td>elucidate</td>
            </tr>
            <tr>
                <th>No. of Letters</th>
                <td>5</td>
                <td>7</td>
                <td>9</td>
                <td>7</td>
                <td>9</td>
            </tr>
        </table>

        <p>
            3.1415 92653 57979. We get the digits of pi, just like the game, but as a <em>piem</em>, a Piphilology, 
            as a way to remember digits of pi.
        </p>

        <h4>Japanese</h4>
        
        <blockquote class="quote-japanese">
            サンイシイコクニムカウ </br>
            サンゴヤクナク…
        </blockquote>

        <p>
            Japanese is the same as the game, only we get a shortened version: 
        </p>
           
        <blockquote class="quote-translation">
            産医師 異国 に 向う。</br>
            産後 厄 無く...</br></br>

            "An obstetrician heads to a foreign country. </br>
            After childbirth, no bad luck..." 
        </blockquote>
            
        <p>
            The English subs tried to translate the spirit of the goroawase this time, by turning it into pi poetry instead of translating just the numbers. 
            I think it's pretty cool!
        </p>

        <h3 id="w2d6">W2D6: Joshua Explaining Root 5</h3>
        
        <p>Explaining the mission mail.</p>

        <h4>English</h4>

        <blockquote class="quote-english">
            2.2360679. </br>
            It's the square root of 5.
        </blockquote>

        <h4>Japanese</h4>

        <blockquote class="quote-japanese">
            フジサンロクニオームナク...</br>
            ルート5ってことさ</br></br>

            "At the base of Mt. Fuji a parrot sings"</br>
            Is the square root of 5
        </blockquote>

        <p>
            I'm not sure exactly how you'd translate the first other than going straight to the goroawase, 
            because it's not just numbers being spoken. 
            Anyways, let's break down the goroawase.
        </p>

        <table class="goroawase">
            <tr>
                <th>Written</th>
                <td>フ</td>
                <td>ジ</td>
                <td>サン</td>
                <td>ロク</td>
                <td>ニ</td>
                <td>オー</td>
                <td>ム</td>
                <td>ナ</td>
                <td>ク</td>
            </tr>
            <tr>
                <th>Romanji</th>
                <td>fu</td>
                <td>ji</td>
                <td>san</td>
                <td>roku</td>
                <td>ni</td>
                <td>ō</td>
                <td>mu</td>
                <td>na</td>
                <td>ku</td>
            </tr>
            <tr>
                <th>Numbers</th>
                <td>2</td>
                <td>2</td>
                <td>3</td>
                <td>6</td>
                <td>2</td>
                <td>0</td>
                <td>6</td>
                <td>7</td>
                <td>9</td>
            </tr>
            <tr>
                <th>Normal</th>
                <td>富</td>
                <td>士</td>
                <td>山</td>
                <td>麓</td>
                <td>に</td>
                <td>オウ</td>
                <td>ム</td>
                <td>鳴</td>
                <td>く</td>
            </tr>
        </table>

        <p>
            This is for the √5: 2.2360679. 
            But if you look at the numbers from the goroawase, we would get: 2.236<strong>2</strong>0679, 
            which is also not same as the English version.
            The extra ニ (ni), 2, is added to make it easier to remember the goroawase as a particle to indicate "at this place". 
            The meaning of the mnemonic doesn't change:
        </p>

        <blockquote class="quote-translation">
            富士山麓、オウム鳴く (ふじさんろくオームなく) </br>
            "(The) Base of Mt. Fuji, a parrot sings" </br></br>

            富士山麓<mark>に</mark>オウム鳴く (ふじさんろく<mark>に</mark>オームなく)</br>
            "At the base of Mt. Fuji a parrot sings"
        </blockquote>

        <p>(Aside from the additional “ni” that can be included, 
            other small variations is how オーム (ōmu) can be written as 富士山麓オーム鳴く, 富士山麓鸚鵡鳴く)</p>
        <p>
            
        <p>The meaning of the phrase boils down to “isn't it obvious?”. We'll see it used that way in future conversations.</p>

        <p class="notice">Minamimoto's birthday is also related to √5. It's Feb 23, which is 2.23.</p>

        <h3 id="ep7">Animation - Episode 7</h3>
        
        <p>Neku recieves the mission mail.</p>
        
        <div>
            <img class="translate-single-img"
                src="https://gramophoneturtle.neocities.org/img/refs/twewy/anime/goroawase/goroawase_e7Ref1_Start.jpg"
                alt="Neku reads out the mission mail, Beat the bosses of 2.2360679's 0 and 5."
                >
        </div>

        <p>A bit later, Joshua explains the meaning of the mission.</p>

        <div>
            <img class="translate-single-img"
                src="https://gramophoneturtle.neocities.org/img/refs/twewy/anime/goroawase/goroawase_e7Ref1_JoshExplain1.jpg"
                alt="Joshua saying to Neku, 2.2360679 is the square root of 5."
                >
        </div>
        <div>
            <img class="translate-single-img"
                src="https://gramophoneturtle.neocities.org/img/refs/twewy/anime/goroawase/goroawase_e7Ref1_JoshExplain2.jpg"
                alt="Joshua saying to Neku, There's even a mnemonic for it."
                >
        </div>
        
        <h4>English Subs</h4>
        <blockquote class="quote-english">
            Beat the bosses of 2.2360679's 0 and 5. </br></br>

            2.2360679 is the square root of 5. </br>
            There's even a mnemonic for it.
        </blockquote>
        
        <p>
            Joshua explains that their mission of “Beat the bosses of 2.2360679's 0 and 5” 
            like in game but in the anime he also mentions there is a mnemonic for it.
        </p>

        <h4>Japanese</h4>
        
        <blockquote class="quote-japanese">
            2.2360679は、フジサンロクニオームナク。</br>
            数字で√5ってことさ</br></br>

            2.2360679, "At the base of Mt. Fuji a parrot sings".</br>
            The number is the square root of 5.
        </blockquote>
        
        <p>Joshua in Japanese says the mnemonic for the square root of 2 and the number in the mission mail.</p>
        
        <h3 id="w3d6">W3D6: After Fighting Minamimoto</h3>

        <p>
            After Neku and Beat fight Taboo Minamimoto at Cadoi City, Minamimoto says in response to Beat's dialogue.
        </p>
        <h4>
            English
        </h4>
        <blockquote class="quote-english">
            Beat:</br> 
            The hell does this guy eat? He's so powerful!</br></br> 

            Minamimoto:</br>
            Slabs Of Ham,</br>
            Celery And Horseradish, </br>
            Tons Of Asparagus.</br>
        </blockquote>
        
        <p>
            Another SOH CAH TOA, but food related. 
            Minamimoto then says he's done enough calibration and 
            is ready to go face the Composer.
        </p>

        <h4>Japanese</h4>
        <blockquote class="quote-japanese">
            Beat</br>
            くっ...まじかよ...こいつ強え...</br>
            Ugh... are you serious..! This guy's strong…</br></br>

            Minamimoto</br>
            フジサンロクニオームナクってな</br>
            At the base of Mt. Fuji a parrot sings
        </blockquote>
        
        <p>
            This is the same goroawase that Joshua explained from the mission mail for <a href="#w2d6">W2D6</a>, 
            the square root of 5:
        </p>
        
        <blockquote class="quote-translation">
            富士山麓にオウム鳴く (ふじさんにろくオームなく) </br></br>

            "At the base of Mt. Fuji a parrot sings"
        </blockquote>
        
        <p>
            This time it's used in a conversation and it means “Isn't it obvious?”
        </p>

        <h3 id="ep10">Animation Episode 10</h3>
        <p>
            During Neku and Beat's fight with Taboo Minamimoto at Cadoi City, 
            as opposed to after the fight in the game. 
            There's no dialogue surrounding this, Minamimoto just says it before he attacks.
        </p>

        <div>
            <img class="translate-single-img"
                src="https://gramophoneturtle.neocities.org/img/refs/twewy/anime/goroawase/goroawase_e10Ref_SOHCATOA.jpg"
                alt="Minamimoto from episode 10 saying Slabs of Ham, Celery And Horseradish, Tons Of Asparagus!"
                >
        </div>

        <h4>English Subs</h4>
        <blockquote class="quote-english">
            Slabs of Ham, Celery And Horseradish, Tons Of Asparagus!
        </blockquote>

        <h4>Japanese</h4>
        <blockquote class="quote-japanese">
            フジサンロクニオームナクってな！ 
        </blockquote>

        <p>
            Same meaning as TWEWY <a href="#w3d6">W3D6</a>, 
            “Isn't it obvious?” but we don't have a conversation surrounding it so it stands on its own.  
            Minamimoto is obviously going to crush these kids, what more needs to be said?
        </p>


        <h3 id="w3d701">W3D7: Rubicon</h3>
        <p>
            When Neku and Beat run into Minamimoto and Neku and Beat say they don't have time for him.
        </p>
        <h4>English</h4>
        <blockquote class="quote-english">
            FOIL! First, Outer, Inner, Last!
        </blockquote>

        <p>
            A mnemonic for how to multiply two binomials. First term from each, then the outer terms, inner, then last.
        </p>

        <h4>Japanese</h4>
        <blockquote class="quote-japanese">
            ヒトヨヒトヨニヒトミゴロってね
        </blockquote>

        <p>
            Goroawase for the square root of 2 again, 
        </p>

        <blockquote class="quote-translation">
            人よ人よに人見ごろ (ひとよひとよにひとみごろ)</br></br>

            Human world, people's lives, we're observing people</br>
            Or</br>
            It's peoples world; peoples world. It's time to observe people.
        </blockquote>

        <p>
            It's the same context surrounding this in English and Japanese - 
            Neku says they don't have time and Beat tells him to get out of the way. 
            Minamimoto then says (they) can't go on further. 
            Even Minamimoto can't break the barrier that the Iron Maiden (her Iron Frostiness) put up. 
            Then Neku and Beat learn that Konishi has been with Neku and Beat the whole time.
        </p>
        <p>
            Minamimoto said this last time to Joshua at 104, indicating he knows exactly who Joshua is. 
            This time, it's towards the current Game Master, Konishi, who's hiding in Beat's shadow.
        </p>

        <h3 id="w3d702">W3D7: Rubicon Before Minamimoto Leaves</h3>

        <p>
            Konishi gives her analysis about Shibuya falling apart and that the 
            type of person most likely to survive the chaos is a free spirit, Minamimoto. 
            Minamimoto approves and says this in response.
        </p>
        
        <h4>English</h4>
        
        <blockquote class="quote-english">
            "Please Excuse My Dear Aunt Sally!"
        </blockquote>
        <p>
            By taking the first letter of each word, we get PEMDAS. 
            PEMDAS is an acronym to remember the order of operations in mathematics: 
            <em>Parenthesis, Exponents (and Roots), Multiplication, Division, Addition, Subtraction.</em>
            Same as BODMAS (Brackets, Orders), BIDMAS (Indices), BEDMAS.
        </p>
        
        <h4>Japanese</h4>
        <blockquote class="quote-japanese">
            ヒトナミニオゴレヤって 
        </blockquote>

        We have new gorowase to breakdown. The "って" is not part of the goroawase.
        
        <table class="goroawase">
            <tr>
                <th>Written</th>
                <td>ヒト</td>
                <td>ナ</td>
                <td>ミ</td>
                <td>ニ</td>
                <td>オ</td>
                <td>ゴ</td>
                <td>レ</td>
                <td>ヤ</td>
            </tr>
            <tr>
                <th>Romanji</th>
                <td>hito</td>
                <td>na</td>
                <td>mi</td>
                <td>ni</td>
                <td>o</td>
                <td>go</td>
                <td>re</td>
                <td>ya</td>
            </tr>
            <tr>
                <th>Numbers</th>
                <td>1</td>
                <td>7</td>
                <td>3</td>
                <td>2</td>
                <td>0</td>
                <td>5</td>
                <td>0</td>
                <td>8</td>
            </tr>
            <tr>
                <th>Normal</th>
                <td>人</td>
                <td>並</td>
                <td>み</td>
                <td>に</td>
                <td>お</td>
                <td>ご</td>
                <td>れ</td>
                <td>や</td>
            </tr>
        </table>

    <p>
        This is the square root of 3: 1.7320508. 
        人並みにおごれや (ひとなみにおごれや) has a meaning of, “Treat me like you do others.”
    </p>

    <h3 id="ep11">Animation - Episode 11</h3>

    <p>Same context and meaning in TWEWY <a href="#w3d702">W3D7</a>.</p>

    <div>
        <img class="translate-single-img"
            src="https://gramophoneturtle.neocities.org/img/refs/twewy/anime/goroawase/goroawase-e11Ref_PEMDAS.jpg"
            alt="Minamimoto from episode 11 saying Please Excuse My Dear Aunt Sally!"
            >
    </div>

    <h4>English Subs</h4>
    <blockquote class="quote-english">
        Please Excuse My Dear Aunt Sally!
    </blockquote>

    <p>Same as the game.</p>

    <h4>Japanese</h4>
    <blockquote class="quote-japanese">
        ヒトナミニオゴレヤって
    </blockquote>

    <p>Same as the game.</p>
</section>