<ul>
    <li>(Coming Soon!) NEO Demo Analysis on Inversion: Artistic piece but also notes things that already have inverted themes</li>
    <li><a href="/analysis/twewy-series/neo-daycolour/">Day Colour</a></li>
    <li><a href="/analysis/twewy-series/neo-reaperwings-soulpulvis/">Reaper Wings, Pig Noise & Soul Pulvis</a></li>
    <li><a href="/analysis/twewy-series/neo-uzuki-and-the-composer/">Issue: W2 Uzuki (not) mentioning the Composer and why Rindo doesn't react </a></li>
    <li>(Coming Soon!) Difference: Coco totez (not) told Uzuki she's resurrected Minamimoto</li>
    <li>(Coming Soon!) Difference: Censoring of God</li>
    <li>(Coming Soon!) Difference: Coco: Summary of EN vs JP</li>
</ul>