<ul>
    <li><a href="/analysis/twewy-series/neo-daycolour/">Day Colour</a></li>
    <li><a href="/analysis/twewy-series/neo-reaperwings-soulpulvis/">Reaper Wings, Pig Noise & Soul Pulvis</a></li>
</ul>