# dependencies installed by npm
node_modules

# build artefacts
public

# excel data file
data_conversion/Where Is My Art.xlsx

# src resources
src/img/
src/vid/

# other
.cache/eleventy-fetch-771e2ee768352bc06ce998c0240241
data_conversion/__pycache__/*
data_conversion/models/__pycache__/ArtworkCategory.cpython-312.pyc
