<div>
    <p class="buttonHeader">OCs</p>
    <button class="btn" onclick="filterSelection('Mother')">Mother</button>
    <button class="btn" onclick="filterSelection('Father')">Father</button>
    <button class="btn" onclick="filterSelection('Null')">Null</button>
    <button class="btn" onclick="filterSelection('Chisa')">Chisa</button>
    <button class="btn" onclick="filterSelection('Cat')">Some Grey Cat</button>
</div>