<div>
    <p class="buttonHeader">NEO TWEWY</p>
    <button class="btn" onclick="filterSelection('Hazuki')">Hazuki</button>
    <button class="btn" onclick="filterSelection('Kubo')">Kubo</button>
    <button class="btn" onclick="filterSelection('Tsugumi')">Tsugumi</button>
    <button class="btn" onclick="filterSelection('Ayano')">Ayano</button>
    <button class="btn" onclick="filterSelection('Shiba')">Shiba</button>
    <button class="btn" onclick="filterSelection('Kanon')">Kanon</button>
</div>