<div>
    <p class="buttonHeader">TWEWY</p>
    <button class="btn" onclick="filterSelection('Joshua')">Joshua</button>
    <button class="btn" onclick="filterSelection('Hanekoma')">Hanekoma</button>
    <button class="btn" onclick="filterSelection('Minamimoto')">Minamimoto</button>
    <button class="btn" onclick="filterSelection('Kitaniji')">Kitaniji</button>
    <button class="btn" onclick="filterSelection('Coco')">Coco</button>
    <button class="btn" onclick="filterSelection('Neku')">Neku</button>
    <button class="btn" onclick="filterSelection('Shiki')">Shiki</button>
    <button class="btn" onclick="filterSelection('Beat')">Beat</button>
    <button class="btn" onclick="filterSelection('Rhyme')">Rhyme</button>
    <button class="btn" onclick="filterSelection('Mr. Mew')">Mr. Mew</button>
</div>