<div>
    <p class="buttonHeader">Main</p>
    <button class="btn" onclick="filterSelection('Lin')">Lin</button>
    <button class="btn" onclick="filterSelection('Lao')">Lao</button>
    <button class="btn" onclick="filterSelection('Tatsu')">Tatsu</button>
    <p class="buttonHeader">Cross</p>
    <button class="btn" onclick="filterSelection('Sera')">Sera</button>
    <p class="buttonHeader">Other</p>
    <button class="btn" onclick="filterSelection('Nagi')">Nagi</button>
    <button class="btn" onclick="filterSelection('Eleonora')">Eleonora</button>
</div>