<link href="https://gramophoneturtle.neocities.org/rss/feed-all.xml" rel="alternate" type="application/rss+xml" title="Gramophoneturtle All Updates" />
<link href="https://gramophoneturtle.neocities.org/rss/feed-art.xml" rel="alternate" type="application/rss+xml" title="Gramophoneturtle Art Updates" />
<link href="https://gramophoneturtle.neocities.org/rss/feed-site.xml" rel="alternate" type="application/rss+xml" title="Gramophoneturtle Site Updates" />
   