---
title: Asura's Wrath - No Spoilers
layout: /layouts/base.njk
date: 2024-01-01
---
<p>Ordered by original post date.</p>
<details>
  <summary>Characters</summary>
<div id="myBtnContainer">
  <div><button class="btn active" onclick="filterSelection('all')">Show all</button></div>
  <div>
    <button class="btn" onclick="filterSelection('Asura')">Asura</button>
    <button class="btn" onclick="filterSelection('Yasha')">Yasha</button>
    <button class="btn" onclick="filterSelection('Girl')">Girl</button>
  </div>
</div>
</details>

{% assign spoilersClass = "content spoilers" %}
{% assign nospoilersClass = "content" %}

{% assign currentYear = "" %}
{% for post in collections.TagAWArtNoSpoilers | reverse %}
    {% include 'partials/listing-artwork-general.njk' %}
{% endfor %}

<script src="/js/filterByTag.js"></script>