/* Header for the rows*/
.boxheader {
    float: left;
    display: block;
    width: 100%;
 }

 /* Clear floats after rows */
 .boxheader:after {
    content: "";
    display: block;
    clear: both;
  }

/* div for each year */
.row {
    margin: 4px ;
    border: #995890 2px solid;
}
  
/* Add padding BETWEEN each column (if you want) */
.row,
.row > .characters {
    padding: 4px;
}
  
/* Create three equal columns that floats next to each other */
.characters {
    float: left;
    margin: 6px;
    width: 12rem;
    height: 12rem;
    display: none; /* Hide columns by default */
    border: 4px dashed #995890;
}
  
/* Clear floats after rows */
.row:after {
    content: "";
    display: inline;
    clear: both;
}

/* Content */
.content {
    padding: 10px;
    display: grid;
}

/* The "show" class is added to the filtered elements */
.show {
    display: grid;
}
  
/* Style the buttons */
.btn {
    border: 2px solid #51245e;
    padding: 10px 12px;
    background-color: #51245e;
    color:#fdf7d3;
    cursor: pointer;
}
  
/* Active button */
.btn.active {
    background-color: #cca050;
    color: rgb(0, 0, 0);
    font: rgb(252, 139, 139) bold italic 14pt;
    border: 2px solid #e9d4c3;
}

/* Add a grey background color on mouse-over */
.btn:not([aria-disabled="true"]):hover{
    background-color: #995890;
    border-color: #e90f6ab6;
    border: 2px solid rgb(252, 238, 211);
}

/* Add a grey background color on mouse-over */
.btn.active:not([aria-disabled="true"]):hover{
    background-color: #ee9e69;
    border-color: #e90f6ab6;
    border: 2px solid rgb(252, 238, 211);
    font: rgb(7, 0, 0);
}

.smallpadding {
    padding: 0.5rem 0rem;
    margin: 0rem;
    font-size: medium;
}

