/* TOP RIGHT BOTTOM LEFT */
/* Global variables. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Default (dark) theme */
  --bg: #212121;
  --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
  --border: #666;
  --accent: #ffb300;
  --border-color: #995890;
  --dark-background: #4e1d48;
  --hover-img-color: #331b35;

  --null-pink: #C48F97;
  --null-black: #303030;
  --null-dark-blue: #242B3B;
  --null-eye-green: #131913;
  --null-light-green-base: #657365;
  --null-light-green-ivy: #829482;
  --null-dark-green-base: #384138;
  --null-dark-green-ivy: #131913;
}

/* Light theme */
@media (prefers-color-scheme: light) {
  :root {
    --bg: #cec5b8;
    --accent-bg: #e6dfdef3;
    --text: #1a1616;
    --text-light: #554f4f;
    --border: #e1dad8;
    --accent: #437206;
    --border-color: #b88246;
    --dark-background: #a591a3;
    --hover-img-color: rgb(226, 179, 146);

    --null-light-green-base: #dde6d8;
    --null-light-green-ivy: #859685;
    --null-dark-green-base: #c1cec1;
    --null-dark-green-ivy: #698b69;
  }
}

* {
  box-sizing: border-box;
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
  scroll-behavior: smooth;
}

/* Make the body a nice central block */
body {
  color: var(--text);
  background: var(--bg);
  font-size: 1.15rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 45em;
  grid-template-columns: 1fr min(45rem,90%) 1fr;
}

body > header {
  text-align: center;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

body > header h1 {
  max-width: 100%;
  margin: 0.5rem auto;
}

.noBottomBorder {
  border-bottom: none;
}

/* Add a little padding to ensure spacing is correct between content and nav */
main {
  padding-top: 0rem;
}

body > footer {
  margin-top: 2rem;
  padding: 0.5rem;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid var(--border);
}

/* Format headers */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.1rem;
  margin-top: 2rem;
}

/* Reduce header size on mobile */
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }
}

/* Format links */
a,
a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
}


/* My own general CSS */

.updatepost {
  border: 3px solid var(--border-color);
  border-radius: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin: 1rem 0rem;
}

.updatepost > p {
  margin: 1rem;
}

.updatepost > p.header {
  font-weight: bold;
  border-bottom: 2px dashed var(--accent);
}

.updatepost > p.footer {
  font-style: italic;
  border-top: 2px dashed var(--accent);
  padding-top: 0.5rem;
}

/* || ARTWORK */
/** https://www.w3schools.com/howto/howto_js_tab_img_gallery.asp */
.artworkRow {
  box-sizing: border-box;
}

/* Clear floats after the columns */
.artworkRow:after {
  content: "";
  display: table;
  clear: both;
}

/* The grid: Four equal columns that floats next to each other */
.artworkColumn {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Style the images inside the grid */
.artworkColumn img {
  opacity: 0.6; 
  cursor: pointer; 
}

.artworkColumn img:hover {
  opacity: 1;
}

.artwork, .artworkContainer {
  opacity: 1;
  margin: 1rem 0rem;
  padding: 5px;
  border: solid var(--border) 1px;
  border-radius: 5px;
  font-style: italic; /* affects the alt text if image is not found. */
}

/* The expanding image container */
.artworkContainer {
  position: relative;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/* || OC NAV */
.nav-oc-group {
  padding: 0rem 0.5rem;
  margin-bottom: 0.5rem;
}

.navoc,
.navoc:visited {
  background-color: var(--dark-background);
  border-radius: var(--standard-border-radius);
  border: 2px solid var(--border-color);
  color: var(--text);

  width: 7rem;
  padding: 0.2rem 1rem;
  margin: 0.15rem 0.15rem;

  font-size: medium;

  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.navoc:hover,
.navoc.current,
.navoc[aria-current="page"] {
  border-color: var(--accent);
  color: var(--accent);
  cursor: pointer;
}


/* || OC Page - THumbnail + Name underneath */
div.ocGallery {
  float: left;
  margin: 2px;
  width: 9rem;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}

div.ocGallery:hover {
  background-color: var(--hover-img-color);
}

div.ocGallery img {
  width: 9rem;
  height: 9rem;
  display: grid;
}

.ocGallery > a {
  text-decoration: none;
}

div.desc {
  padding: 0.25rem;
  text-align: center;
}


/* || Format navigation  - HEADER ONLY */
nav {
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Reduce nav side on mobile */
@media only screen and (max-width: 750px) {
  .navHeader {
    padding: 0.25rem 0.25rem;
    font-size: small;
  }
}

/* || OC NAV */
.navHeader,
.navHeader:visited {
  width: 7rem;
  padding: 0.2rem 1rem;
  margin: 0rem 0.25rem 0.2rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: medium;
  border: 3px solid var(--null-light-green-base);
  border-radius: var(--standard-border-radius);
  background-color: var(--null-dark-green-base);
  color: var(--text);
}

.navHeader:hover,
.navHeader.current,
.navHeader[aria-current="page"] {
  background-color: var(--null-light-green-base);
  border-color: var(--null-light-green-ivy);
  color: var(--accent);
  cursor: pointer;
}