---
tags:
  - twewyArt2
  - twewyOGArt
  - twewyOGArtAll
pagination:
    data: twewy-art
    size: 1
    alias: twewyart
    addAllPagesToCollections: true
permalink: "art/twewy/{{ twewyart.uniqueUrl | slugify }}/"
layout: /layouts/art
---
{% include 'partials/art-show.njk' %}