---
tags:
  - TagPersona5Art
  - TagPersona5ArtNoSpoilers
pagination:
    data: art-persona5-spoiler-free
    size: 1
    alias: aArtwork
    addAllPagesToCollections: true
permalink: "art/persona5/{{ artwork.uniqueUrl | slugify }}/"
layout: /layouts/art
---
{% include 'partials/art-show-general.njk' %}