---
tags:
  - MyArt
  - twewyArt2
  - twewyNeoArt
  - twewyNeoArtNoSpoilers
pagination:
    data: twewy-neo-art-spoiler-free
    size: 1
    alias: aArtwork
    addAllPagesToCollections: true
permalink: "art/twewy/{{ aArtwork.uniqueUrl | slugify }}/"
layout: /layouts/art
---
{% include 'partials/art-show-general.njk' %}