---
tags:
  - TagPersona5Art
  - TagPersona5ArtNoSpoilers
pagination:
    data: art-persona5-spoiler-free
    size: 1
    alias: artwork
    addAllPagesToCollections: true
permalink: "art/twewy/{{ artwork.uniqueUrl | slugify }}/"
layout: /layouts/art
---
{% include 'partials/art-show.njk' %}