---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Gramophone Turtle's RSS Feed",
    "description": "Site, New Art and Archive Art!!!",
	"language": "en",
    "base": "http://gramophoneturtle.neocities.com/",
    "author": {
      "name": "Gramophone Turtle"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
{# <rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.base | addPathPrefixToFullUrl }}" xmlns:atom="http://www.w3.org/2005/Atom"> #}
	<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.base }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    {# <link>{{ metadata.base | addPathPrefixToFullUrl }}</link> #}
    <link>{{ metadata.base }}</link>
    <description>{{ metadata.description }}</description>
    <language>{{ metadata.language or page.lang }}</language>
    {%- for post in collections.UpdatePosts  %}

		{% set items =  [metadata.base, post.url] %}
		{%- set absolutePostUrl = items | join  %}

		<item>
			<title>{{ post.data.posts.PostDate }}</title>
			<link>{{ absolutePostUrl }}</link>
			<description>
				{% set singlePost = post %}
				{% include 'partials/updates/update-rss-feeds.njk' %}
        {% include 'partials/updates/update-rss-footer.njk' %}
			</description>
			<pubDate>{{ post.date | dateToRfc822 }}</pubDate>
			{# <pubDate>{{ post.data.posts.date | dateToRfc822 }}</pubDate> #}
			<dc:creator>{{ metadata.author.name }}</dc:creator>
			<guid>{{ absolutePostUrl }}</guid>
		</item>
    {%- endfor %}
  </channel>
</rss>