---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Gramophone Turtle's RSS Feed",
    "description": "Site, New Art and Archive Art.",
    "language": "en",
    "base": "http://gramophoneturtle.neocities.com/",
    "author": {
      "name": "Sal @ Gramophone Turtle",
      "email": "gramophoneturtle@gmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language or page.lang }}">
	<title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
	<link href="http://gramophoneturtle.neocities.com" rel="self" />
	
	<lastBuildDate>
		Mon, 30 Sep 2024 00:59:58 +0000
	 </lastBuildDate>

	<id>{{ metadata.base }}</id>

	{%- for post in collections.UpdatePosts %} 
		<entry>
			<id>{{ post.url }}</id>
			<title>{{ post.data.posts.PostDate }} Update</title>
			<url>{{ post.url }}</url>
			<description>
				{% set singlePost = post %}
				{% include 'partials/update-content.njk' %}
			</description>
			<pubDate>
				{# {{ post.data.posts.PostDate | dateToRfc3339 }} #}
				Mon, 30 Sep 2024 00:59:58 +0000
			</pubDate>
		</entry>
	{%- endfor %}
</feed>
</rss>