---
tags:
  - OCs
pagination:
    data: ocs
    size: 1
    alias: ocs
    addAllPagesToCollections: true
permalink: "ocs/{{ ocs.Name | slugify }}/"
layout: /layouts/base
---
<nav class="nav-oc-group">{% include 'partials/navigation_ocs.njk' %}</nav>
<details>
  <summary>Contents</summary>
  <ul>
    <li><a href="#general">General</a></li>
    <li><a href="#likes">Likes</a></li>
    <li><a href="#dislikes">Dislikes</a></li>
    <li><a href="#history">History</a></li>
    <li><a href="#relationships">Relationships</a></li>
    <li><a href="#artwork">Artwork</a></li>
    <li><a href="#inspirations">Inspirations</a></li>
  </ul>
</details>
<h2 id="general">General</h2>
  {%- if ocs.Title %}
    <p>Title: {{ ocs.Title }}</p>
  {%- endif -%}

  {%- if ocs.ActualName %}
    <p>Actual Name: {{ ocs.ActualName }}</p>
  {%- endif -%}

  {%- if ocs.Role %}
    <p>Current Position: {{ ocs.Role }}</p>
  {%- endif -%}

  {%- if ocs.PreviousRoles %}
    <p>Previous Positions: {{ ocs.PreviousRoles }}</p>
  {%- endif -%}

  <p>Pronouns: {{ ocs.Pronouns }}</p>

  {%- if ocs.GenderIdentity %}
    <p>Gender: {{ ocs.GenderIdentity | safe }}</p>
  {%- endif -%}

  {%- if ocs.Orientation %}
    <p>Orientation: {{ ocs.Orientation | safe }}</p>
  {%- endif -%}

  {%- if ocs.DOB %}
    <p>Date of Birth: {{ ocs.DOB }}</p>
  {%- endif -%}

  {%- if ocs.NoiseAffinity %}
    <p>Noise Affinity: {{ ocs.NoiseAffinity }}</p>
  {%- endif -%}

  {%- if ocs.Pyschs %}
    <p>Pyschs: {{ ocs.Pyschs }}</p>
  {%- endif -%}

{# Put in a representing image, if there is one #}
{%- if ocs.ImageHeader %}
  <div class="artwork">
      <img 
        src="{{ ocs.ImageHeader }}" 
        alt="{{ocs.ImageHeaderAltText}}"/>
  </div>
{%- endif -%}

<h2 id="likes">Likes</h2>
  <ul>
      {%- for item in ocs.Likes %}
      <li>{{ item }}</li>
      {% endfor -%}
  </ul>
  <h2 id="dislikes">Dislikes</h2>
  <ul>
      {%- for item in ocs.Dislikes %}
      <li>{{ item }}</li>
      {% endfor -%}
  </ul>

<h2 id="history">History</h2>
      {%- for item in ocs.History %}
      <h3 class="noBottomBorder">{{ item.Header }}</h3>

      {%- for entry in item.SubSections %}
        <p>{{ entry | safe }}</p>
      {% endfor -%}
  {% endfor -%}

<h2 id="relationships">Relationships</h2>
  {%- for item in ocs.Relationships %}
    <details>
      <summary>{{ item.Name }}</summary>

      {%- if item.Description %}
      <p>{{ item.Description | safe }}</p>
      {%- endif -%}

      {%- for entry in item.DescriptionList %}
        <p>{{ entry | safe }}</p>
      {% endfor -%}
    </details>
  {% endfor -%}


<h2 id="artwork">Artwork</h2>
  <ul>
    {% for post in collections.twewyArt2 | reverse %}
    {% set artworkCharacters = post.data.twewyart.characters %}
      {% if ocs.Name in artworkCharacters  %}
      <li>
        <a href="{{ post.url }}">{{ post.data.twewyart.title }}</a> 
      </li>
      {%- endif -%}
    {% endfor %}
  </ul>

<h2 id="inspirations">Inspirations</h2>
  {%- if ocs.Inspirations.length %}
    {%- for item in ocs.Inspirations %}
    <details>
      <summary>{{ item.Name }} from {{ item.Source }}</summary>
      
      {%- if item.Image %}
        <img src="{{ item.Image }}" alt="{{item.AltText}}"/>
      {%- endif -%}
      
      <p>{{ item.Description | safe }}</p>
      
      {%- if item.SourceURL %}
        <p> 
          <a href= "{{ item.SourceURL }}">Source</a> 
          - 
          <a href="{{ item.SourceURL }}" target="_blank" rel="noopener noreferrer">↗</a>
        </p>
      {%- endif -%}
    </details>
    {% endfor -%}
  {%- else -%}
    <p>None...Yet?</p>
  {%- endif -%}