---
tags:
  - OCs
pagination:
    data: ocs
    size: 1
    alias: ocs
    addAllPagesToCollections: true
permalink: "ocs/{{ ocs.Name | slugify }}/"
layout: /layouts/base
---
<nav>{% include 'partials/navigation_ocs.njk' %}</nav>
{% include 'partials/ocs_toc.njk' %}

{% include 'partials/ocs_main.njk' %}