---
tags:
  - ArtP5
  - TagPersona5Art
pagination:
    data: art-persona5
    size: 1
    alias: aArtwork
    addAllPagesToCollections: true
permalink: "art/persona5/{{ aArtwork.uniqueUrl | slugify }}/"
layout: /layouts/art
---
{% include 'partials/art-show-general.njk' %}