---
tags:
  - ArtP5
pagination:
    data: art-persona5
    size: 1
    alias: artwork
    addAllPagesToCollections: true
permalink: "art/persona5/{{ artwork.uniqueUrl | slugify }}/"
layout: /layouts/art
---
<div><a href="/art/persona5/">Persona 5</a></div>

<div>
  <div>
  {%- for item in artwork.imgs %}
    <div class="artwork">
      <img src="{{ item.url }}"
        alt="{{ item.alt }}">
    </div>
    <details>
      <summary>ALT</summary>
      <p>{{ item.alt }}</p>
    </details>
  {% endfor -%}
  </div>

  <div>
    <p>{{ artwork.summary }}</p>
  </div>

  {%- if artwork.details %}
  <div>
    <details>
        <summary>Details</summary>
        <p>{{ artwork.details }}</p>
    </details>
  </div>
  {%- endif -%}

  <div>
    <p>Posted on:</p>
    <ul>
      {%- for item in artwork.urls %}
        <li><a href= "{{ item.url }}">{{ item.sitename }}</a> - <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">↗</a></li>
      {% endfor -%}
    </ul>
  </div>
  <div><p>Originally posted on {{ artwork.date }}.</p></div>

  <div><a href="/art/persona5/">Persona 5</a></div>
</div>