---
tags:
  - twewyArt2
pagination:
    data: twewy-art
    size: 1
    alias: twewyart
    addAllPagesToCollections: true
permalink: "art/twewy/{{ twewyart.uniqueUrl | slugify }}/"
layout: /layouts/art
---
<a href="/art/twewy/">TWEWY</a>

{# If multiple images, show thumbnails of each and expand on click #}
{% set enableGalleryGrid = false %}
{% if twewyart.imgs.length > 1 %}
  {% set enableGalleryGrid = true %}

  {# Trying to do slideshow gallery #}
  {# Main Div #}
  <div class="slideshow-container">

    {# 1) Main Slides #}
    {%- for item in twewyart.imgs %}

      {# TEST - set id for images? Optional  #}
      {% set currentID = [ "img0", loop.index ] | join %}
      
      <div class="slideshow-mySlides">
        <img style="width:100%"
          src="{{ item.url }}"
          alt="{{ item.alt }}"
          id = "{{ currentID }}" >
      </div>
    {% endfor -%}

    <a class="slideshow-prev" onclick="plusSlides(-1)">❮</a>
    <a class="slideshow-next" onclick="plusSlides(1)">❯</a>

    <div class="slideshow-caption-container">
      <p id="caption"></p>
    </div>
    
    {# 2) Thumbnails #}
    <div class="slideshow-row">
    {%- for item in twewyart.imgs %}

      <div class="slideshow-column">
        <img class="slideshow-demo slideshow-cursor"
          style="width:100%"
          src="{{ item.url }}"
          alt="{{ item.alt }}"
          onClick="currentSlide({{ loop.index }});" >
      </div>
    {% endfor -%}
    </div>
  </div>

{% else %}
  {# Set up for single image display. No grid required. #}
  {%- for item in twewyart.imgs %}
    <div>
      <img src="{{ item.url }}"
        alt="{{ item.alt }}">
    </div>
  {% endfor -%}
{% endif %}

<hr class="hr-divide">

<div>
  <p>{{ twewyart.summary }}</p>
</div>

{%- if twewyart.details %}
<div>
  <details>
      <summary>Details</summary>
      <p>{{ twewyart.details }}</p>
  </details>
</div>
{%- endif -%}

<div>
  <p>Posted on:</p>
  <ul>
    {%- for item in twewyart.urls %}
      <li><a href= "{{ item.url }}">{{ item.sitename }}</a> - <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">↗</a></li>
    {% endfor -%}
  </ul>
</div>

<p>Originally posted on {{ twewyart.date }}.</p>

<a href="/art/twewy/">TWEWY</a>

{% if enableGalleryGrid %}
  <script src="/js/SlideShowGallery.js"></script>
{% endif %}