---
tags:
  - UpdatePosts
pagination:
    data: updates
    size: 1
    alias: posts
    addAllPagesToCollections: true
permalink: "updates/{{ posts.PostDate | slugify }}/"
layout: /layouts/base
---
<div class="updatepost">
    <p class="header">
        {{ posts.Title }} {{ posts.PostDate }}
    </p>

    {%- if posts.Art %}
        <p>Art: {{ posts.Art }}</p>
    {%- endif -%}

    {%- if posts.Site %}
        <p>Site: {{ posts.Site }}</p>
    {%- endif -%}
</div>