<p>HEY - using filtered tags which means BOTH tags have to be included!! (Not actually what I want, whoops!)</p>
{% assign currentYear = "" %}
{% for post in collections.allTWEWY %}
  {% assign postYear = post.data.twewyart.dateYear %}
  {% if currentYear != postYear %}
    {% assign currentYear = postYear %}
    <div class="boxheader"><h3>{{ postYear }}</h3></div>
  {% endif %}
    <p>1</p>
          <a href="{{ post.url }}">{{ post.data.twewyart.title | truncate: 37 }}</a> 
          <p class="smallpadding">({{ post.data.twewyart.characters }})</p>
        </div>
      </div>
    </div>
  {% endfor %}
<p>END</p>

<details>
  <summary>2) ALL</summary>

{% for item in collections.all  %}
    <h2>forloop: {{ forloop.index }}</h2>
    <p> item data</p>
    <ul>
      <li>Main page: {{ item.data.title }}</li>
      <li><p>Permalink: {{ item.data.permalink }}</p></li>
      <li><p>twewyart.title: {{ item.data.twewyart.title }}</p></li> 
      <li><p>ocs.Name: {{ item.data.ocs.Name }}</p></li>
    </ul>

    <p>tags?</p>
    <ol>
      {% for tg in item.data.tags %}
        <li><p>{{ tg }}</p></li>
      {% endfor %}
    </ol>
    <p>item page</p>
    <ul>
      <li><p>page.date (sorting): {{ item.page.date }}</p></li>
      <li><p>page.url: {{ item.page.url }}</p></li>
      <li><p>page.outputPath: {{ item.page.outputPath }}</p></li>
    </ul>
{% endfor %}
</details>
<p>END - ALL, 48</p>

<details>
<summary>3) By Title</summary>
{% for item in collections.twewySeriesArtAllByTitle %}
    <h2>forloop: {{ forloop.index }}</h2>
      <p>page.date (sorting): {{ item.page.date }}</p>
      <p>item.data.title: {{ item.data.title }}</p>
    <p>Artwork: {{ item.data.twewyart.title }}</p> 
    <p>{{ item.page.outputPath }}</p>
{% endfor %}
<p>END - TWEWY art only, 22</p>
</details>

<details>
  <summary>4) By Date</summary>
{% for item in collections.twewySeriesArtAllByDate %}
    <h2>forloop: {{ forloop.index }}</h2>
    <p>page.date (default sorting): {{ item.page.date }}</p>
    <p>Artwork: {{ item.data.twewyart.title }}</p> 
    <strong><p>twewyart.date (try custom sort): {{ item.data.twewyart.date }}</p></strong> 
    <p>{{ item.page.outputPath }}</p>
{% endfor %}
<hr>
</details>