---
tags:
  - twewyArt2
pagination:
    data: twewy-art
    size: 1
    alias: twewyart
    addAllPagesToCollections: true
permalink: "twewyarts/{{ twewyart.date | slugify }}/"
layout: /layouts/art
---
<div><a href="/art/toc/twewy/">TWEWY</a></div>

<div>
  <div>
  {%- for item in twewyart.imgs %}
    <p>
      <img src="{{ item.url }}"
        alt="{{ item.alt }}" 
        style="width: 600px; height:auto;">
    </p>
    <details>
      <summary>ALT</summary>
      <p>{{ item.alt }}</p>
    </details>
  {% endfor -%}
  </div>

  <div>
    <p>{{ twewyart.summary }}</p>
  </div>

  {%- if twewyart.details %}
  <div>
    <details>
        <summary>Details</summary>
        <p>{{ twewyart.details }}</p>
    </details>
  </div>
  {%- endif -%}

  <div>
    <p>Posted on:</p>
    <ul>
      {%- for item in twewyart.urls %}
        <li><a href= "{{ item.url }}">{{ item.sitename }}</a> - <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">↗</a></li>
      {% endfor -%}
    </ul>
  </div>
  <div><p>Originally posted on {{ twewyart.date }}.</p></div>
  <div><a href="/art/toc/twewy/">TWEWY</a></div>
</div>