---
title: TWEWY Series and AUs
layout: /layouts/base.njk
---
<div><p>Back to <a href="/art/">Art</a>.</p></div>

{% for item in collections.TagRelatedTWEWY %}
<a href="{{ item.url }}">
    <div class = "related-series-entry">
          <div class="column-side">
              {% if item.ThumbnailURL != ""  %}
                  <img
                  src="{{ item.data.RelTWEWY.ThumbnailURL }}"
                  alt="{{ item.data.RelTWEWY.ThumbnailAlt }}"
                  >
              {% endif %}
          </div>
          <div class="desc column-remaining">
          {{ item.data.RelTWEWY.SeriesName }} 
          </div> 
      </a> 
  </div>
{% endfor %}