{# IMAGES #}
{# If multiple images, show thumbnails of each and expand on click #}
{% set enableGalleryGrid = false %}
{% if twewyart.imgs.length > 1 %}
  {% set enableGalleryGrid = true %}

  {# Main Div - Slideshow Gallery #}
  <div class="slideshow-container">

    {# 1) Main Slides #}
    {%- for item in twewyart.imgs %}

      {% set currentID = [ "img0", loop.index ] | join %}
      
      <div class="slideshow-mySlides">
        <img class="artworkShowingImage" 
          src="{{ item.url }}"
          alt="{{ item.alt }}"
          id="{{ currentID }}" >
      </div>
    {% endfor -%}

    <a id="btnPrev" class="slideshow-prev" onclick="plusSlides(-1)">❮</a>
    <a id="btnNext" class="slideshow-next" onclick="plusSlides(1)">❯</a>

    <div class="slideshow-caption-container">
      <p id="caption"></p>
    </div>
    
    {# 2) Thumbnails #}
    <div class="slideshow-row scrollmenu" >
    {%- for item in twewyart.imgs %}
      <div class="slideshow-column">
        <img class="slideshow-demo slideshow-cursor"
          style="width:100%"
          src="{{ item.url }}"
          alt="{{ item.alt }}"
          onClick="currentSlide({{ loop.index }});" >
      </div>
    {% endfor -%}
    </div>
  </div>

{% else %}
  {# Set up for single image display. No grid required. #}
  {%- for item in twewyart.imgs %}
    <div class="artwork-one-image-container">
      <img class="artwork-one-img-show"
        src="{{ item.url }}"
        alt="{{ item.alt }}">
    </div>
  {% endfor -%}
{% endif %}

<hr class="hr-divide">

{# VIDEOS #}
{% if twewyart.vids.length > 0 %}
<div>
    {%- for item in twewyart.vids %}
      <div>
        <video controls loop muted playsinline>
          <source src="{{item.url}}" type="video/mp4">
        </video>
      </div>
    {% endfor -%}
</div>
<hr class="hr-divide">
{% endif %}

{# SUMMARY #}
<div><p>{{ twewyart.summary | safe}}</p></div>

{# DETAILS #}
{%- if twewyart.details %}
<div>
  <details>
      <summary>Details</summary>
      <p>{{ twewyart.details | safe }}</p>
  </details>
</div>
{%- endif -%}

{# AUs/RELATED SERIES #}
{% if twewyart.RelatedSeriesAndURL.length > 0 %}
<div>
  <p>Series</p>
  <ul>
    {%- for item in twewyart.RelatedSeriesAndURL %}
      <li><a href="/art/twewy/related/{{ item[1] }}">{{ item[0] }}</a> - <a href="/art/twewy/related/{{ item[1] }}" target="_blank" rel="noopener noreferrer">↗</a></li>
    {% endfor -%}
  </ul>
</div>
{% endif %}

{# OTHER SITES #}
<div>
  <p>Posted on:</p>
  <ul>
    {%- for item in twewyart.urls %}
      <li><a href= "{{ item.url }}">{{ item.sitename }}</a> - <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">↗</a></li>
    {% endfor -%}
  </ul>
</div>

{# ORIGINAL POST DATE #}
<p>Originally posted on {{ twewyart.date }}.</p>

{% if enableGalleryGrid %}
<script src="/js/SlideShowGallery.js"></script>
{% endif %}