<p class="smaller">
    {% include 'partials/rss-feed-links.njk' %}
</p>
<p class="smaller">You can use my art for icons and headers on social media sites and for computer, phone and tablet wallpapers. 
    Do not post my content on other sites without permission. 
    Do not make money off of my work witout permission. 
    Do not use for AI Generation, NFTS and the like.
</p>
<p class="smaller">© 2024 GramophoneTurtle</p>