
{% assign postYear = post.data.twewyart.dateYear %}
  {% if currentYear != postYear %}
  {% assign currentYear = postYear %}
    <div class="boxheader"><h3>{{ postYear }}</h3></div>
  {% endif %}
    <div classs="row">
      <div class="characters {{ post.data.twewyart.characters }}">
            <div class= "content">
              <a href="{{ post.url }}"> 
                <div class="desc"> 
                  {{ post.data.twewyart.title | truncate: 37 }}
                </div>
                  <img
                  src="{{ post.data.twewyart.thumbnailUrl }}"
                  alt="{{ post.data.twewyart.thumbnailAlt }}"
                  >
              </a> 
          </div>
      </div>
    </div>