
{% assign postYear = post.data.twewyart.dateYear %}
  {% if currentYear != postYear %}
  {% assign currentYear = postYear %}
    <div class="boxheader"><h3>{{ postYear }}</h3></div>
  {% endif %}
    <div classs="row">
      <div class="characters {{ post.data.twewyart.characters }}">
          {% assign spoilersValue = post.data.twewyart.spoilers | upcase %}
         
          {% if spoilersValue == "YES" %}
           <div class= "content spoilers">
          {% else %}
            <div class= "content">
          {% endif %}
              <img
                src="{{ post.data.twewyart.thumbnailUrl }}"
                alt="{{ post.data.twewyart.thumbnailAlt }}"
                >
              <a href="{{ post.url }}"> 
                {% if spoilersValue == "YES" %}
                  <span class="spoilers"> [!]</span>
                {% endif %} 
                {{ post.data.twewyart.title | truncate: 37 }} 
              </a> 
          </div>
      </div>
    </div>