<nav role="navigation" class="navtest2">
    <ul>
      <li><a class="navHeader" href="/">Home</a></li>
      <li><a class="navHeader" href="/about/">About</a></li>
      <li><a class="navHeader hasSubMenu" href="#" aria-haspopup="true">Works &#9662;</a>
        <ul class="dropdown" aria-label="submenu">
          <li><a class="navHeader" href="/art/">Art</a></li>
          <li><a class="navHeader" href="/writing/">Writing</a></li>
          <li><a class="navHeader" href="/gifts/">Gifts</a></li>
        </ul>
      </li>
      <li><a class="navHeader" href="/ocs/">OCs</a></li>
      <li><a class="navHeader" href="/analysis/">Analysis</a></li>
      <li><a class="navHeader" href="/updates/">Updates</a></li>
      <li><a class="navHeader" href="/contact/">Contact</a></li>
    </ul>
</nav>