<a class="navHeader" href="/">Home</a>
<a class="navHeader" href="/about/">About</a>
<a class="navHeader" href="/art/">Art</a>
<a class="navHeader" href="/ocs/">OCs</a>
<a class="navHeader" href="/updates/">Updates</a>
<a class="navHeader" href="/contact/">Contact</a>