<details>
    <summary>Contents</summary>
    <ul>
        <li><a href="#general">General</a></li>
        <li><a href="#likes">Likes</a></li>
        <li><a href="#dislikes">Dislikes</a></li>
        <li><a href="#artwork">Artwork</a></li>
        <li><a href="#relationships">Relationships</a></li>
        <li><a href="#inspirations">Inspirations</a></li>
    </ul>
</details>