{%- if twewyart.title -%}
    {{ twewyart.title }}
{%- elif ocs.title -%}
    {{ ocs.title }}
{%- elif aArtwork.title -%}
    {{ aArtwork.title }}
{%- elif story.Title -%}
    {{ story.Title }}
{%- elif posts.PostDate -%}
    {{ posts.PostDate}}
{%- elif RelTWEWY.SeriesName -%}
    {{RelTWEWY.SeriesName}}
{%- else -%}
    {{ title }}
{%- endif -%}