{%- if aArtwork.title -%}
    {{ aArtwork.title }}
{%- elif ocs.title -%}
    {{ ocs.title }}
{%- elif story.Title -%}
    {{ story.Title }}
{%- elif posts.PostDate -%}
    {{ posts.PostDate}}
{%- elif RelTWEWY.SeriesName -%}
    {{RelTWEWY.SeriesName}}
{%- elif Title -%}
    {{Title}}
{%- else -%}
    {{ title }}
{%- endif -%}