    {%- if singlePost.data.posts.Art %}
       <p class="subheader">Art</p> <p>{{ singlePost.data.posts.Art }}</p>
    {%- endif -%}
        
    {%- if singlePost.data.posts.ArtList %}
            <p class="subheader">Art</p> 
            {%- for cate in singlePost.data.posts.ArtList %}
            <details>
                <summary>{{ cate.Category }}</summary>
                <ul>
                    {%- for item in cate.List %}
                    <li>
                        <a href= "{{ item.URL }}"> {{ item.Title }}</a> - <a href="{{ item.URL }}" target="_blank" rel="noopener noreferrer">↗</a>
                    </li>
                    {% endfor -%}
                </ul>
            </details>
            {% endfor -%}
    {%- endif -%}

    {%- if singlePost.data.posts.OCs %}
       <p class="subheader">OCs</p> <p>{{ singlePost.data.posts.OCs }}</p>
    {%- endif -%}

    {%- if singlePost.data.posts.Writing %}
        <p class="subheader">Writing</p> 
        {%- for cate in singlePost.data.posts.Writing %}
        <details>
            <summary>{{ cate.Category }}</summary>
            <ul>
                {%- for item in cate.List %}
                <li>
                    <a href= "{{ item.URL }}"> {{ item.Title }}</a> - <a href="{{ item.URL }}" target="_blank" rel="noopener noreferrer">↗</a>
                </li>
                {% endfor -%}
            </ul>
        </details>
        {% endfor -%}
    {%- endif -%}

    {%- if singlePost.data.posts.FibreArts %}
        <p class="subheader">Crochet</p> <p>{{ singlePost.data.posts.FibreArts }}</p>
    {%- endif -%}

    {%- if singlePost.data.posts.Site %}
        <p class="subheader">Site</p> <p>{{ singlePost.data.posts.Site }}</p>
    {%- endif -%}