<div class="updatepost">
    <p class="header">
        {{ singlePost.data.posts.PostDate }}
    </p>

    {% include 'partials/update-content.njk' %}

    {% include 'partials/update-single-footer.njk' %}
</div>